.detailContainer {
	margin: -31px -25px 0px;
}

.topContainer{
	background-image: linear-gradient(90deg, rgb(0, 26, 87), rgb(246, 234, 184));
	color: #fff;
}

h1 {
	font-family: OpenSans,Arial,sans-serif;
}

.topWrapper {
  padding: 20px 80px 50px; 
}

.register {
	border-radius: 2px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	line-height: 1rem;
	user-select: none;
	position: relative;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none;
	cursor: pointer;
	filter: none;
	text-decoration: none;
	font-weight: 600;
	color: rgb(31, 31, 31);
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(102, 102, 102);
	margin-top: 20px;
	font-size: 1rem;
	min-height: 48px; 
}

.wrapper {
	padding: 20px 50px 0px; 
 }

.skills, .content, .instructor, .feedbacks {
	margin: 20px;
	background-color: #fbfbf8;
	border: 1px solid #dcdacb;
	border-radius: 4px; 
	padding: 10px 30px;
}

.reviewer {
	font-weight: 600;
	padding-bottom: 15px;;
}

.name, .feedback {
	padding-bottom: 30px;
}