.input {
  border: 1px solid #989586;
  border-radius: 2px 0 0 2px; 
  height: 35px;
  padding: 0 10px 0 20px;
  /* font-family: Helvetica,sans-serif; */
  font-weight: 300;
  font-size: 1rem;
  box-shadow: none;
  /* margin-bottom: 0; */
  
  
}

.searchButton {
  border: 1px solid #4085d3;
  background-color: #4085d3;
  height: 35px;
  font-size: 1rem;
  /* font-size: 16px; */
  color: white;
  border: 0;
  padding: 0 10px 0 10px;
}

/* @media screen and (min-width: 400px) {
  .input, .searchButto{
    font-size: 0.85rem;

  }
} 

@media screen and (min-width: 600px) {
  .input, .searchButton{
    font-size: 1rem;
  }
} */